@font-face {
  font-family: Stopwatch;
  src: url(../fonts/LOOPY_IT.TTF);
}

$green: #090;
$blue: #009;
$radius: 50px;
$shadow: 0px 0px 100px #0000ff, 0px 0px 500px #000099;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  color: $blue;
  background-color: #111;
  height: 100vh;
  text-shadow: $shadow;

  .container {
    border: 1vw solid $blue;
    padding: {
      top: 7vh;
      left: 7vw;
      right: 7vw;
      bottom: 7vh;
    }
    width: 70%;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-family: Stopwatch;
      font-size: 5vw;
      color: #009;
      text-shadow: $shadow;
    }

    div {
      display: flex;
      justify-content: space-between;
      width: 40%;

      button {
        width: 10vw;
        height: 10vh;
        background-color: black;
        border: 0.5vw solid $green;
        border-radius: $radius;
        color: $green;
        font-size: 2vw;
        cursor: pointer;

        &:nth-of-type(2) {
          border-color: $blue;
          color: $blue;
        }

        &:active {
          transform: scale(0.98);
        }
      }
    }
  }

  h1 {
    &:nth-child(1) {
      font-size: 5vw;
      text-transform: uppercase;
      letter-spacing: 5px;
    }
  }
}
